* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

/* 电脑上的样式 */
@media screen and (min-width: 1024px) {
  body {
      width: 430px; /* 设置电脑上的宽度 */
      height: 900px; /* 设置电脑上的高度 */
      margin: auto; /* 水平居中 */
  }
}

/* 移动端样式 */
@media screen and (max-width: 1023px) {
  html {
    zoom: 200%; /* 或使用 transform: scale(5); */
  }
  body {
    width: 430px; /* 设置电脑上的宽度 */
    height: 900px; /* 设置电脑上的高度 */
    margin: auto; /* 水平居中 */
    overflow: hidden; /* 避免滚动条 */
  }
}

ul {
  list-style: none;
}

#title {
  width: 80%;
  font-size: 5em;
  top: 1em;
  margin-left: 5%;
}

#main-area {
  width: 100%;
  margin-top: 2em;
  align-content: center;
  float: left;
}

/* 定义一个容器，使其成为Flexbox容器 */
.chatname-container {
	display: flex;
	align-items: center; /* 垂直居中 */
	margin-bottom: 1rem; /* 在容器下方添加一些空间 */
}

/* 修改标签样式 */
.chatname-label {
	margin-right: 0.5rem; /* 在标签和输入框之间添加一些空间 */
}

/* 修改输入框样式 */
#chatname {
	flex-grow: 1; /* 输入框将占据剩余空间 */
	margin-right: 0.5rem; /* 在输入框和按钮之间添加一些空间 */
}

/* 修改按钮样式 */
#submitChatname {
	padding: 0.5rem 1rem; /* 增加按钮的内边距 */
}

@keyframes white-to-yellow {
  0% {
    background: #fff;
  }
  100% {
    background: #d7a945;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}